@font-face {
  font-family: "Millunium-Bold";
  src: url("../assets/fonts/Millunium_Bold/Millunium-Bold.eot") format("eot"),
    url("../assets/fonts/Millunium_Bold/Millunium-Bold.svg") format("svg"),
    url("../assets/fonts/Millunium_Bold/Millunium-Bold.ttf") format("ttf"),
    url("../assets/fonts/Millunium_Bold/Millunium-Bold.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Millunium-Medium";
  src: url("../assets/fonts/Millunium Medium/Millunium-Medium.eot")
      format("eot"),
    url("../assets/fonts/Millunium Medium/Millunium-Medium.svg") format("svg"),
    url("../assets/fonts/Millunium Medium/Millunium-Medium.ttf") format("ttf"),
    url("../assets/fonts/Millunium Medium/Millunium-Medium.woff") format("woff"),
    url("../assets/fonts/Millunium Medium/Millunium-Medium.woff2")
      format("woff2");
  font-style: normal;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 38px;
  line-height: 38px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 38px;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 16px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
}

button {
  font-size: 15px;
  line-height: 18px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 64px;
    line-height: 64px;
  }
  h2 {
    font-size: 48px;
    line-height: 56px;
  }
  h3 {
    font-size: 32px;
    line-height: 38px;
  }
  h4 {
    font-size: 18px;
    line-height: 20px;
  }
  h5 {
    font-size: 16px;
    line-height: 18px;
  }
  p {
    font-size: 15px;
    line-height: 24px;
  }
  button {
    font-size: 16px;
    line-height: 19px;
  }
}

body {
  background-color: #f4f4f4;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

form {
  margin: 0;
}

.box-primary {
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  margin: 42px 8px 0 8px;
  padding: 25px 15px 36px 15px;
  height: 470px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.box-secondary {
  background-color: #3ead48;
}

.overlapping {
  position: relative;
}

.text-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 20px;
  color: #ffffff;
}

.btn {
  background-color: #3ead48;
  color: #ffffff;
  font-weight: 500;
  padding: 15px 55px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  color: #3ead48;
  background-color: #ffffff;
}

.sub-title,
.sub-title-alt {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.5px;
  margin-bottom: 15px;
}

.sub-title-alt {
  color: #707070;
}

.title,
.title-alt {
  font-family: "Millunium-Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.title-alt {
  color: #000000;
}

.desc,
.desc-alt {
  font-weight: 400;
  margin-bottom: 25px;
}

.desc-alt {
  color: #707070;
}

.common-text {
  font-weight: 700;
}

@media (min-width: 768px) {
  .desc {
    width: 80%;
    padding-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .desc {
    width: 40%;
  }
}

body {
  background-color: #f4f4f4;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

form {
  margin: 0;
}

.box-primary {
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  margin: 42px 8px 0 8px;
  padding: 25px 15px 36px 15px;
  height: 470px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.box-secondary {
  background-color: #3ead48;
}

.overlapping {
  position: relative;
}

.text-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 20px;
  color: #ffffff;
}

.btn {
  background-color: #3ead48;
  color: #ffffff;
  font-weight: 500;
  padding: 15px 55px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  color: #3ead48;
  background-color: #ffffff;
}

.sub-title,
.sub-title-alt {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.5px;
  margin-bottom: 15px;
}

.sub-title-alt {
  color: #707070;
}

.title,
.title-alt {
  font-family: "Millunium-Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.title-alt {
  color: #000000;
}

.desc,
.desc-alt {
  font-weight: 400;
  margin-bottom: 25px;
}

.desc-alt {
  color: #707070;
}

.common-text {
  font-weight: 700;
}

@media (min-width: 768px) {
  .desc {
    width: 80%;
    padding-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .desc {
    width: 40%;
  }
}

.main-nav {
  background-color: transparent;
  height: 52px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  z-index: 10;
}
.main-nav .logo-link {
  display: flex;
}
.main-nav .logo-link .logo {
  margin: 10px 16px;
  padding: 5px;
  width: 28px;
  height: 32px;
  background-image: url("../assets/images/jb-logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-nav .logo-link .company-name {
  font-family: "Millunium-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  display: none;
}
.main-nav .hamburger {
  width: 35px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 16px;
  background-color: transparent;
  position: relative;
  color: #ffffff;
  z-index: 4;
}
.main-nav .menu {
  background-color: #1e3066;
  height: 100vh;
  position: fixed;
  right: 0;
  width: 70vw;
  padding-top: 72px;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  z-index: 3;
}
.main-nav .menu.open {
  transform: translateX(0);
}
.main-nav .menu .menu-item {
  margin-bottom: 36px;
  z-index: 3;
  margin-left: 25px;
}
.main-nav .menu .menu-item .menu-link {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.main-nav .menu .menu-item .menu-link:before {
  content: "";
  transform: scaleX(0);
  transform-origin: 100%;
  transition: all 0.2s ease-in-out;
}
.main-nav .menu .menu-item .menu-link:hover:before {
  content: "";
  width: 42px;
  height: 3px;
  background-color: #3ead48;
  position: absolute;
  top: 50%;
  right: 110%;
  transform: scaleX(1);
}

@media (min-width: 768px) {
  .main-nav .logo-link .company-name {
    display: block;
  }
  .main-nav .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
  }
}

@media (min-width: 1025px) {
  .main-nav {
    align-items: center;
    padding-top: 10px;
  }
  .main-nav .logo-link .logo {
    margin-left: 90px;
  }
  .main-nav .hamburger {
    display: none;
  }
  .main-nav .menu {
    height: auto;
    background-color: transparent;
    transform: translateX(0);
    width: auto;
    flex-direction: row;
    padding-top: 0;
    padding-right: 90px;
    right: 0;
  }
  .main-nav .menu .menu-item {
    margin: 0 20px;
  }
  .main-nav .menu .menu-item .menu-link:before {
    content: "";
    transform: scaleX(0);
    transform-origin: 100%;
    transition: all 0.2s ease-in-out;
  }
  .main-nav .menu .menu-item .menu-link:hover:before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #3ead48;
    position: absolute;
    top: 120%;
    right: 0;
    transform: scaleX(1);
  }
}

@media (min-width: 1200px) {
  .main-nav .logo-link .logo {
    margin-left: 150px;
  }
  .main-nav .menu {
    padding-right: 150px;
  }
}

.main-head {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/pp-main-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main-head .scroll-down {
  width: 30px;
  height: 30px;
  border: 3px solid #f4f4f4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.main-head .scroll-down .fa-angle-down {
  color: #f4f4f4;
  font-size: 25px;
}

@media (min-width: 768px) {
  .scroll-down {
    margin-top: 40px;
  }
}

#about {
  position: relative;
}
#about .overlapping {
  height: 1124px;
}
#about .box-primary {
  z-index: 3;
}
#about .box-primary .btn {
  width: 100%;
}
#about .box-primary .btn:hover {
  background-color: #1e3066;
  color: #ffffff;
}
#about .about-img {
  z-index: 1;
  position: absolute;
  bottom: 32%;
  left: 0;
}
#about .box-secondary {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 37px;
  z-index: 2;
  bottom: 0;
  width: 100%;
}
#about .box-secondary .stats {
  text-align: center;
  padding: 0;
  margin-top: 24px;
}
#about .box-secondary .stats .stats-numbers {
  padding-bottom: 35px;
}
#about .box-secondary .stats .stats-numbers .title {
  margin-bottom: 6px;
}

@media (min-width: 768px) {
  #about .overlapping {
    width: 758px;
    margin: 70px auto;
    height: 100vh;
  }
  #about .overlapping .box-primary {
    width: 504px;
    margin-left: 20px;
  }
  #about .overlapping .box-primary .btn {
    width: 70%;
  }
  #about .overlapping .about-img {
    width: 512px;
    margin-left: 51px;
    bottom: 10%;
  }
  #about .overlapping .box-secondary {
    width: 254px;
    right: 0;
    top: 20%;
    height: 454px;
  }
  #about .overlapping .box-secondary .sub-title {
    width: 50%;
    text-align: center;
  }
  #about .overlapping .box-secondary .stats {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  #about .overlapping {
    width: 1110px;
  }
  #about .overlapping .about-img {
    width: 693px;
    top: 20%;
    left: auto;
    right: 0;
  }
  #about .overlapping .box-secondary {
    width: 500px;
    height: 224px;
    left: 3.5%;
    top: 58%;
  }
  #about .overlapping .box-secondary .stats {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  #about .overlapping .box-secondary .stats .stats-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
  }
  #about .overlapping .box-secondary .stats .stats-numbers .common-text {
    width: 50%;
    text-align: center;
  }
}

@media (min-width: 1920px) {
  #about .overlapping .box-secondary {
    top: 57%;
  }
}

#prizes {
  background-color: #ffffff;
  text-align: center;
  padding-top: 43px;
}
#prizes .container {
  width: 350px;
  margin: 0 auto;
}
#prizes .container .prizes .prizes-item {
  width: 50%;
  margin: 42px auto;
}
#prizes .container .prizes .prizes-item:last-child {
  margin-bottom: 0;
}
#prizes .container .prizes .prizes-item .standings {
  color: #707070;
  margin-bottom: 9px;
}
#prizes .container .prizes .prizes-item .standings.first-place {
  color: #3ead48;
}
#prizes .container .prizes .prizes-item .icon {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  #prizes .title-alt {
    width: 70%;
    margin: 0 auto 42px auto;
  }
  #prizes .container {
    width: 768px;
  }
  #prizes .container .prizes {
    display: flex;
    flex-wrap: wrap;
  }
  #prizes .container .prizes .prizes-item {
    width: 33.33%;
  }
  #prizes .container .prizes .prizes-item .standings {
    margin-bottom: 23px;
  }
  #prizes .container .prizes .prizes-item .icon {
    margin-bottom: 24px;
  }
  #prizes .container .prizes .prizes-item .common-text {
    margin: 0 auto;
    width: 60%;
  }
}

@media (min-width: 1025px) {
  #prizes .container {
    width: 100%;
  }
  #prizes .container .prizes {
    justify-content: space-between;
  }
  #prizes .container .prizes .prizes-item {
    width: 15%;
  }
  #prizes .container .prizes .prizes-item .standings {
    margin-bottom: 20px;
  }
  #prizes .container .prizes .prizes-item .wrapper {
    height: 85px;
    margin: 26px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #prizes .container .prizes .prizes-item .common-text {
    width: 100%;
  }
}

#signup .overlapping {
  height: 856px;
}

#signup .box-primary {
  position: absolute;
  height: 382px;
  top: 0;
}
#signup .box-primary .sub-title-alt {
  margin-top: 37px;
}
#signup .box-primary .btn {
  width: 100%;
}
#signup .box-primary .btn:hover {
  background-color: #1e3066;
  color: #ffffff;
}

#signup .box-secondary {
  position: absolute;
  bottom: 0;
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff;
}
#signup .box-secondary .quote-icon {
  position: absolute;
  right: 5%;
  top: 17%;
  color: rgba(255, 255, 255, 0.3);
  font-size: 88px;
}
#signup .box-secondary .desc {
  margin: 0 16px;
}
#signup .box-secondary .wrapper {
  margin-top: 29px;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 36px;
}
#signup .box-secondary .wrapper .img-wrapper {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 5px;
  justify-self: end;
}
#signup .box-secondary .wrapper .employee-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  color: #ffffff;
}
#signup .box-secondary .wrapper .employee-wrapper .desc {
  margin: 0;
}

@media (min-width: 768px) {
  #signup .container {
    width: 700px;
    margin: 0 auto;
  }
  #signup .container .overlapping {
    width: 100%;
    height: 720px;
  }
  #signup .container .overlapping .box-primary {
    top: 0;
    width: 600px;
    padding: 0 23px 52px 23px;
  }
  #signup .container .overlapping .box-primary .desc {
    width: 90%;
    padding-bottom: 0;
  }
  #signup .container .overlapping .box-primary .btn {
    width: 70%;
  }
  #signup .container .overlapping .box-secondary {
    height: 378px;
    width: 628px;
    right: 0;
    bottom: -10%;
  }
  #signup .container .overlapping .box-secondary .quote-icon {
    font-size: 24px;
    top: 24%;
    left: 5%;
  }
  #signup .container .overlapping .box-secondary .desc {
    margin: 0 84px;
    padding: 0;
    width: 80%;
  }
  #signup .container .overlapping .box-secondary .wrapper {
    padding: 0;
  }
  #signup .container .overlapping .box-secondary .wrapper .desc {
    margin: 0;
  }
}

@media (min-width: 1224px) {
  #signup .container {
    width: 1250px;
  }
  #signup .container .overlapping .box-primary {
    width: 610px;
    top: 10%;
    left: 0;
  }
  #signup .container .overlapping .box-secondary {
    width: 658px;
    top: 25%;
  }
  #signup .container .overlapping .box-secondary .quote-icon {
    top: 18%;
    left: 13%;
  }
  #signup .container .overlapping .box-secondary .desc {
    width: 70%;
    margin: 0 120px;
  }
  #signup .container .overlapping .box-secondary .wrapper {
    margin-left: 50px;
  }
}

#contact {
  background-color: #ffffff;
}
#contact .container {
  margin-bottom: 72px;
}
#contact .sub-title-alt,
#contact .title-alt {
  margin-left: 16px;
}
#contact .sub-title-alt {
  margin-top: 43px;
  margin-bottom: 7px;
}

#contact .contact-form .name-input,
#contact .contact-form .email-input {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #707070;
  outline: none;
  padding: 10px 0;
}
#contact .contact-form .name-input {
  margin-bottom: 23px;
}
#contact .contact-form .email-input {
  margin-bottom: 27px;
}
#contact .contact-form .text-input {
  resize: none;
  width: 85%;
  height: 110px;
  background-color: #f4f4f4;
  border: 1px solid #707070;
  outline: none;
  padding: 15px 10px;
  margin-bottom: 16px;
  border-radius: 3px;
}
#contact .contact-form .btn {
  width: 90%;
  border: 0;
  cursor: pointer;
  outline: none;
}
#contact .contact-form .btn:hover {
  background-color: #1e3066;
  color: #ffffff;
}

@media (min-width: 768px) {
  #contact {
    height: 100%;
  }
  #contact .container {
    width: 728px;
    margin: 0 auto 72px auto;
  }
  #contact .container .sub-title-alt,
  #contact .container .title-alt {
    margin-left: 0;
  }
  #contact .container .contact-img {
    margin-top: 144px;
    border-radius: 3px;
  }
  #contact .container .contact-form .name-input,
  #contact .container .contact-form .email-input {
    padding: 0 16px 11px 0;
    width: 45%;
    display: inline-block;
  }
  #contact .container .contact-form .name-input {
    margin-right: 16px;
  }
  #contact .container .contact-form .text-input {
    width: 94%;
  }
  #contact .container .contact-form .btn {
    width: 53%;
  }
}

@media (min-width: 1224px) {
  #contact .container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-areas: "image  content";
    align-items: center;
    grid-gap: 60px;
    width: 1000px;
  }
  #contact .container .contact-img {
    margin-top: 0;
    width: 555px;
    grid-area: "image";
  }
  #contact .container .content-wrapper .title-alt {
    font-size: 32px;
    grid-area: "content";
    margin-bottom: 22px;
  }
  #contact .container .content-wrapper .sub-title-alt {
    font-size: 18px;
    grid-area: "content";
    margin-bottom: 11px;
  }
  #contact .container .content-wrapper .contact-form {
    grid-area: "content";
    width: 100%;
    padding: 0;
  }
  #contact .container .content-wrapper .contact-form .name-input,
  #contact .container .content-wrapper .contact-form .email-input {
    padding: 0 0 11px 0;
    width: 47%;
  }
  #contact .container .content-wrapper .contact-form .text-input {
    height: 110px;
  }
  #contact .container .content-wrapper .contact-form .btn {
    width: 65%;
  }
}

.footer {
  background-color: #1e3066;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .common-text {
  color: #f4f4f4;
  font-weight: 400;
  font-size: 15px;
}
