//colors
$green: #3EAD48
$grey: #F4F4F4
$dark-grey: #707070
$dark-blue: #1E3066
//fonts
@font-face 
  font-family: 'Millunium-Bold'
  src: url('../assets/fonts/Millunium Bold/Millunium-Bold.ttf')
@font-face
  font-family: 'Millunium-Medium'
  src: url('../assets/fonts/Millunium Medium/Millunium-Medium.ttf')

$main: 'Raleway', sans-serif
$bold: 'Millunium-Bold' , sans-serif
$medium: 'Millunium-Medium' , sans-serif
  